/* FadeTransition.css */
.fade-enter {
  opacity: 0;
  transform: translateY(10px); /* Opcional: ligeramente hacia abajo al entrar */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out; /* Transición más suave */
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px); /* Opcional: ligeramente hacia abajo al salir */
  transition: opacity 300ms ease-out, transform 300ms ease-out; /* Transición suave */
}
